#cardMain {
    background-color: rgba(232, 223, 223, 0.7);
}

.card {
    width: 450px;
    height: 370px;
}

input {
    height: 40px;
    width: 400px;
}

/* .login-form-button {
    background: #ff8c00;
}

.login-form-button:hover {
    background: #ae5f01;
} */
